@model MvcKutuphane.Models.Entity.HAREKET
@{
    ViewBag.Title = "LoanReturn";
    Layout = "~/Views/Shared/Layaout.cshtml";
}

<style>
    #strip {
        width: 100%;
        height: 40px;
        padding: 8px;
        background: #d4d4d4;
        color: black;
        text-align: center;
        font-size: 18px
    }
</style>

@using (Html.BeginForm("UpdateLoan", "Loaned", FormMethod.Post))
{
    <br />
    <div id="strip">İade Et Sayfası</div>
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label> Hareket ID : </label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label> Kitap Adı : </label>
        @Html.TextBoxFor(k => k.KITAP1.AD, new { @class = "form-control" })
        <br />
        <label> Ödünç Alan Üye Adı: </label>
        @Html.TextBoxFor(k => k.UYELER.AD, new { @class = "form-control" })
        <br />
        <label> Ödünç Alan Üye Soyadı: </label>
        @Html.TextBoxFor(k => k.UYELER.SOYAD, new { @class = "form-control" })
        <br />
        <label> Personel Adı Soyadı: </label>
        @Html.TextBoxFor(k => k.PERSONEL1.PERSONEL1, new { @class = "form-control" })
        <br />
        <label> Alış Tarihi : </label>
        @Html.TextBoxFor(k => k.ALISTARIH, "{0: dd/ MM/ yyyy }", new { @class = "form-control" })
        <br />
        <label> İade Tarihi : </label>
        @Html.TextBoxFor(k => k.IADETARIH, "{0: dd/ MM/ yyyy }", new { @class = "form-control" })
        <br />
        <label> Üyenin Getirdiği Tarih : </label>
        <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" />
        <br />
        <label>Geç Gelen Gün Sayısı</label>
        <input type="text" readonly="readonly" class="form-control" id="Gecinput" value="@ViewBag.dgr" />
        <br />
    </div>
    <br />
    <div>
        <button class="btn btn-success" style="width:100%">Ödünç Kitabı Geri Al</button>
    </div>
}



