@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<UYELER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layaout.cshtml";
}

<style>
    #strip {
        width: 100%;
        height: 40px;
        padding: 8px;
        background: #d4d4d4;
        color: black;
        text-align: center;
        font-size: 18px
    }
</style>
<br />
<div id="strip">Üye Listesi</div>
<br />
<table class="table table-active">
    <tr style="background-color:rgb(252,178,22)">
        <th>ID</th>
        <th>Üye Adı</th>
        <th>Üye Soyadı</th>
        <th>Mail</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Telefon</th>
        <th>Okul</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var member in Model)
    {
        <tr style="background-color: #d4d4d4">
            <td>@member.ID</td>
            <td>@member.AD</td>
            <td>@member.SOYAD</td>
            <td>@member.MAIL</td>
            <td>@member.KULLANICIADI</td>
            <td>@member.SIFRE</td>
            <td>@member.TELEFON</td>
            <td>@member.OKUL</td>
            <td>@Html.ActionLink("Sil", "DeleteMember", new { id = member.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor musunuz ?')" })</td>
            <td><a href="/Member/UpdateMember/@member.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a href="/Member/AddMember/" class="btn btn-success" style="width:100%">Yeni Personel Ekle</a>



