@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model List<KITAP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layaout.cshtml";
}

<style>
    #strip {
        width: 100%;
        height: 40px;
        padding: 8px;
        background: #d4d4d4;
        color: black;
        text-align: center;
        font-size: 18px
    }
</style>
<br />
<div id="strip">Kitap Listesi</div>
<br />
@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    <div style="margin-bottom:10px;margin-top:15px">
        <b>Aranacak Kitap Adını Yazınız...</b>

        @Html.TextBox("p")
        <br /> <br />
        <input type="submit" value="Ara" style="width:100%" />
    </div>
}

<table class="table table-active">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kitap Yazarı</th>
        <th>Kategorisi</th>
        <th>Basım Yılı</th>
        <th>Yayın Evi</th>
        <th>Sayfa</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.AD</td>
            <td>@item.YAZAR1.AD  @item.YAZAR1.SOYAD</td>
            <td>@item.KATEGORI1.AD</td>
            <td>@item.BASIMYIL</td>
            <td>@item.YAYINEVI</td>
            <td>@item.SAYFA</td>
            <td>@item.DURUM</td>
            <td>@Html.ActionLink("Sil", "DeleteBook", new { id = item.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor musunuz ?')" })</td>
            <td><a href="/Book/UpdateBook/@item.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>

    }
</table>

<a href="/Book/AddBooks/" class="btn btn-success" style="width:100%">Yeni Kitap Ekle</a>


